#### **Q1**




1.	If A is false and B is true, then which of the following expressions is false?

o	not A and B or B

**o	A or A and B**

o	not (A and  B or A)

o	All of the above

(The answer is "A or A and B" --> A is false , A and B is false ,Hence the answer is false)

#### **Q2**

(math.trunc(1.5) - 15%3 ) < 2   is  True because math.trunc(1.5) is 1 , 15%3 = 0

#### **Q3**

The first condition (Q > T or Q > 8) is true.
Then R = 10

The second condition (T == 0 or Q == 2 or Q > T) is true.
Then R = 4

#### **Q4**

The first condition (B / C) >= 2 is False

The second condition (B / C) == 2 is true
Then C = 11

#### **Q5**

5.	Which command is usually used to repeat a set of commands an unknown number of times?
**o	while**		//

o	for

o	if

#### **Q6**

6.	Which of the following for statement will run 10 times :

o	for 1:10:

**o	for i in range(21,31):**  //

o	for i in range(1,10):

**o	for i in range(11,1,-1):**  //

#### **Q7**

7.	which of the following loops will not run forever :

o	while 1:

**o	for i in ‘orange’:**  //

**o	for i in x:
	x.append(1)**   //

o	while -3:

**o	while 0:**  //

#### **Q8**

In [14]:
i = 1
for x in range( 1,4) :
     i = i * x
     print('%d  ' %x)

1
2
3

#### **Q9**

In [17]:
num = int(input("Enter a number: "))

for i in range(1, num+1):
    for j in range(1, i+1):
        print(i * j, end="\t")
    print()

Enter a number: 10
1
2	4
3	6	9
4	8	12	16
5	10	15	20	25
6	12	18	24	30	36
7	14	21	28	35	42	49
8	16	24	32	40	48	56	64
9	18	27	36	45	54	63	72	81
10	20	30	40	50	60	70	80	90	100